.app {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: rgb(31, 26, 26);
  background-color: rgb(201, 200, 200);
  width: 100%;
  min-height: 100vh;
}

.loader {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(78, 78, 78);
  z-index: 2;
  opacity: 0.5;
}

.loader > div:not(:first-child) {
  visibility: hidden
}

.loader-led {
  position: absolute;
  top: 40%;
  left: 48%;
  background-color: black;
  color: white;
  padding: 7px 15px;
  border: 1px solid black;
  border-radius: 15px;
  z-index: 3;
  font-size: 24px;
}

.loader-none {
  display: none;
}
