.Render{
    background-color: beige;
}


.string{
    display:flex;
    flex-direction:row;
}

.noneActiveElement {
    width: 20px;
    height: 20px;
    background-color: black;
}

.activeElement {
    width: 20px;
    height: 20px;
    background-color: red;
}


.button-left {
    position: absolute;
    top: 330px;
    left: 750px;
}

.button-right {
    position: absolute;
    top: 330px;
    left: 850px;
}

.button-clear {
    position: absolute;
    top: 370px;
    left: 800px;
}

.button-turn {
    position: absolute;
    top: 330px;
    left: 800px;
}

.button {
    position: absolute;
    top: 250px;
    left: 800px;
}

.counter {
    position: absolute;
    top: 100px;
    left: 825px;
}